{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    {% if app.user %}
        <h1>{{ "Welcome"|trans ~ ' ' ~ app.user.email }}</h1>
        {% if is_granted('ROLE_AUTHOR') %}
            <a href="{{ path('app_article_new') }}">{{ "Add an new article"|trans }}</a>
        {% endif %}
    {% endif %}
    <div class="articles_container">
        {% if articles is defined %}
            {% for article in articles %}
                {% if article.isPublished %}
                    <div class="article">
                        <h1>{{ article.title }}</h1>
                        <div class="img-thumbnail container_article_image">
                            <img class="card-img article_image" src="{{ asset('/uploads/' ~ article.imageName ) }}" alt="Article image">
                        </div>
                        <div class="article_description">
                            <p>{{ article.description }}</p>
                        </div>

                        <div class="edit_delete_container">

                            <a href="{{ path('app_article_show', {'slug': article.slug}) }}">
                                <button>{{ 'Show' | trans }}</button>
                            </a>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        {% else %}
            <p>{{ 'No article yet' | trans }}</p>
        {% endif %}
    </div>
{% endblock %}
