{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    {% if app.user %}
        <h1>Welcome {{ app.user.email }}</h1>
        {% if is_granted('ROLE_AUTHOR') %}
            <a href="{{ path('app_article_new') }}">Ajoutez un article</a>
        {% endif %}
    {% endif %}
    <div class="articles_container">
        {% if articles is defined %}
            {% for article in articles %}
                {% if article.isPublished %}
                    <div class="article">
                        <h1>{{ article.title }}</h1>
                        <div class="img-thumbnail">
                            <img class="card-img" src="{{ asset('/build/images/imageArticles/' ~ article.imageName  ~ '.' ~ article.imageExt ) }}" alt="Article image">
                        </div>
                        <div class="article_description">
                            <p>{{ article.description }}</p>
                        </div>

                        <div class="edit_delete_container">

                            <a href="{{ path('app_article_show', {'id': article.id}) }}">
                                <button>Show</button>
                            </a>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        {% else %}
            <p>No article yet</p>
        {% endif %}
    </div>
{% endblock %}
