{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <h1>Register</h1>
    <div class="container-fluid mt4 w-50">
        {% form_theme registrationForm 'bootstrap_5_layout.html.twig' %}
        {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password' |trans
        }) }}

        {{ form_row(registrationForm.agreeTerms, {
            label: 'Agree terms' | trans
        }) }}

        {{ form_end(registrationForm) }}
    </div>
{% endblock %}
