<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <header>
        <div>
            <h1><a href="/">Symfo blog</a></h1>
        </div>

        <div>
            {% if app.user %}
                <a href="{{ path('app_user') }}">{{ 'Profile' | trans }}</a>
                <a href="{{ path('app_logout') }}">{{ 'Logout' | trans }}</a>
                <a href="{{ path('app_user') }}"><img class="avatar" src="{{ '/uploads/' ~ app.user.avatar ~ '.png' }}" alt="Avatar"></a>
            {% else %}
                <a href="{{ path('app_register') }}">{{ 'Register' | trans }}</a>
                <a href="{{ path('app_login') }}">{{ 'Login' | trans }}</a>
            {% endif %}

            <div><a href="{{ path('app_switch_locale', {locale: 'fr'}) }}">FR</a></div>
            <div><a href="{{ path('app_switch_locale', {locale: 'en'}) }}">EN</a></div>
        </div>

    </header>
    <body>
    <div class="container">
        {% block body %}{% endblock %}
    </div>
    </body>
</html>
