{% extends 'base.html.twig' %}

{% block title %}Article{% endblock %}

{% block body %}

    <div class="articles_container">
        <div class="article">
            <h1>{{ article.title }}</h1>

            <div class="article_content">
                <p>{{ article.content }}</p>
            </div>

            {% if is_granted('ROLE_AUTHOR') %}
                <a href="{{ path('app_article_edit', {'id': article.id}) }}">
                    <button>Edit</button>
                </a>

                {{ include('article/_delete_form.html.twig') }}
            {% endif %}
            <a class="text-white" href="{{ path('app_article_index') }}">back to list</a>

            <div class="comments_container">
                <h2 class="mt-3">Commentaries</h2>
                {% for comment in article.commentaries.values %}
                    <div class="comment">
                        <p><b>{{ comment.user.email }}</b></p>
                        <p>{{ comment.message }}</p>
                        {% if is_granted('ROLE_MODERATOR') %}
                            <div class="edit_delete_container">
                                <a href="{{ path('app_commentary_edit', {'id': comment.id}) }}">
                                    <button class="bg-success">Edit</button>
                                </a>
                                <a href="{{ path('app_commentary_delete', {'id': comment.id}) }}">
                                    <button class="bg-danger">Delete</button>
                                </a>
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>

        </div>
    </div>
{% endblock %}
