{% extends 'base.html.twig' %}

{% block title %}Article{% endblock %}

{% block body %}

    <div class="articles_container">
        <div class="article">
            <h1>{{ article.title }}</h1>

            <div class="article_content">
                <p>{{ article.content }}</p>
            </div>

            {% if is_granted('ROLE_AUTHOR') %}
                <a href="{{ path('app_article_edit', {'id': article.id}) }}">
                    <button>Edit</button>
                </a>

                {{ include('article/_delete_form.html.twig') }}
            {% endif %}
            <a class="text-white" href="{{ path('app_article_index') }}">back to list</a>
        </div>
    </div>
{% endblock %}
