{% extends 'base.html.twig' %}

{% block title %}Profile{% endblock %}

{% block body %}
    <h1>{{ 'Your profile' | trans }}</h1>
    <div class="w-100">
        <img src="{{ '/uploads/' ~ user.getAvatar ~ '.png' }}" alt="Avatar" class="w-25 h-100">
    </div>


    <div class="articles_container">
        <div class="w-100">
            <h3>{{ 'Your unpublished articles' | trans }}</h3>
        </div>
        {% for article in user.articles.values %}
            {% if not article.isPublished %}
                <div class="article">
                    <h2>{{ article.title }}</h2>
                    <div class="img-thumbnail container_article_image">
                        <img class="card-img article_image" src="{{ asset('/uploads/' ~ article.imageName  ~ '.' ~ article.imageExt ) }}" alt="Article image">
                    </div>
                    <div class="article_content">
                        <p>{{ article.content }}</p>
                    </div>
                    <div>
                        <a href="{{ path('app_article_edit', {'id': article.id}) }}"><button class="border-success bg-success">
                                {{ 'Publish status' | trans }}</button></a>

                        {{ include('article/_delete_form.html.twig') }}

                    </div>
                </div>
                <div class="w-100 mt-4">
                    <h3>{{ 'Your published articles' | trans }}</h3>
                </div>
                {% else %}
                    <div class="article">
                        <h2>{{ article.title }}</h2>
                        <div class="img-thumbnail container_article_image">
                            <img class="card-img article_image" src="{{ asset('/uploads/' ~ article.imageName  ~ '.' ~ article.imageExt ) }}" alt="Article image">
                        </div>
                        <div class="article_content">
                            <p>{{ article.content }}</p>
                        </div>
                        <div class="edit_delete_container w-100">
                            <a class="w-100" href="{{ path('app_article_edit', {'id': article.id}) }}"><button class=" w-25 border-success bg-success">
                                    {{ 'Edit' | trans }}</button></a>

                            {{ include('article/_delete_form.html.twig') }}

                        </div>
                    </div>
            {% endif %}

        {% endfor %}
    </div>
    <a class="bg-danger" href="{{ path('app_user_delete', {"email": app.user.email })}}">Delete ur account</a>

{% endblock %}
